@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5f5f5;
}

html, body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  html {
    overflow: hidden;
  }
}

.container {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 970px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.index {
  width: 100vw;
  height: 100vh;
  display: table;
}

@media only screen and (max-width: 768px) {
  .about, .skill {
    width: 100%;
    height: auto;
    margin: 0 auto 50px;
  }
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill {
  display: table;
  margin: 50px auto;
}

.navbar ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%;
  height: 60px;
}

.navbar ul li {
  line-height: 60px;
  margin-right: 20px;
}

.navbar ul li:hover a {
  color: #6b6b6b;
  font-weight: 700;
  letter-spacing: 1;
}

.navbar ul a {
  font-size: 12px;
  color: #6b6b6b;
  font-weight: 700;
  letter-spacing: 1;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.intro .intro-txt {
  width: 80%;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 480px) {
  .intro .intro-txt {
    width: 100%;
  }
}

.intro .path {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 8s linear alternate infinite;
          animation: dash 8s linear alternate infinite;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.intro .pattern {
  fill: #ffc3a0;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.name-area {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 110px;
}

@media only screen and (max-width: 768px) {
  .name-area {
    right: 15px;
  }
}

.name-area .name {
  position: relative;
  font-weight: 800;
}

.name-area .name::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  width: 9px;
  height: 19px;
}

.name-area .year {
  font-size: 13px;
}

.name-area .year .right {
  float: right;
  position: relative;
}

.name-area .year .right::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 35px;
  height: 1px;
  right: 37px;
  top: 8px;
}

.contact {
  position: relative;
  z-index: -1;
  margin: 120px auto 0;
  display: table;
}

@media only screen and (max-width: 480px) {
  .contact {
    margin: 20px auto 0;
  }
}

.animation .square {
  width: 580px;
  height: 580px;
  background-color: #ffc3a0;
  position: absolute;
  top: -10%;
  left: -50%;
  z-index: -1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: rotateMove 30s infinite linear;
          animation: rotateMove 30s infinite linear;
}

@-webkit-keyframes rotateMove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateMove {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.animation .circle-line, .animation .circle-line03, .animation .circle-line04 {
  width: 900px;
  height: 900px;
  position: absolute;
  border-radius: 50%;
  left: -65%;
  top: -25%;
}

.animation .circle-line03 {
  -webkit-animation: rotateMove 20s infinite linear;
          animation: rotateMove 20s infinite linear;
}

.animation .circle-line03 .circle-small {
  width: 28px;
  height: 28px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  position: absolute;
  right: 28%;
  top: 8%;
  border-radius: 50%;
  z-index: 3;
}

.animation .circle-line04 .circle-small02 {
  width: 10px;
  height: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  position: absolute;
  right: 28%;
  top: 3%;
  border-radius: 50%;
  -webkit-animation: shining 3s infinite linear;
          animation: shining 3s infinite linear;
}

@-webkit-keyframes shining {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes shining {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
  }
  75% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animation .circle-line02 {
  width: 870px;
  height: 870px;
  border: 1px dashed #eaeaea;
  position: absolute;
  border-radius: 50%;
  left: -66%;
  top: -22%;
  z-index: -1;
}

.work {
  position: relative;
  z-index: 1;
}

.work .work-region {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.work .work-region.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .work .work-region {
    display: block;
  }
}

.mm-region {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mm-region:hover::before {
  -webkit-transform: translateY(-5px) translateX(-5px);
  transform: translateY(-5px) translateX(-5px);
}

.mm-region:hover .name-info {
  margin-top: -10px;
}

.mm-region::before {
  content: "";
  position: absolute;
  width: 350px;
  height: 220px;
  border: 3px solid #ffc3a0;
  margin-top: 0px;
  margin-left: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .mm-region::before {
    width: 303px;
    height: 220px;
  }
}

.left-region {
  width: 39%;
  float: left;
}

@media only screen and (max-width: 480px) {
  .left-region {
    width: 100%;
  }
}

.left-region .photo-cover {
  width: 300px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .left-region .photo-cover {
    margin: 0 auto;
  }
}

.left-region .photo-cover img {
  width: 100%;
}

.left-region .name-info {
  width: 300px;
  height: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.left-region .name-info .myname h3 {
  margin: 30px 0 0 0;
}

.left-region .name-info .myname span {
  font-size: 12px;
  font-weight: 700;
  color: #9c9c9c;
}

.left-region .name-info .myname .info {
  font-size: 14px;
  margin: 10px 0 0 0;
  letter-spacing: 1px;
  line-height: 24px;
}

.right-region {
  width: 55%;
  float: right;
}

@media only screen and (max-width: 480px) {
  .right-region {
    width: 100%;
    margin-top: 30px;
  }
  .right-region .region02 {
    position: absolute;
    top: 5px;
    right: 0;
  }
}

.title-region {
  width: 100px;
}

.title-region .en-title {
  font-size: 12px;
  font-weight: 700;
  color: #9c9c9c;
  letter-spacing: 2px;
}

.title-region .main-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  position: relative;
}

.title-region .main-title::after {
  content: "";
  position: absolute;
  bottom: 4px;
  right: -29px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  width: 22px;
  height: 9px;
}

.region {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.region.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .region {
    display: block;
  }
}

.list-style ul {
  list-style: none;
}

.list-style ul .list-item {
  height: 50px;
  font-size: 14px;
  position: relative;
}

.list-style ul .list-item:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.list-style ul .list-item:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.list-style ul .list-item:nth-child(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.list-style ul .list-item:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.list-style ul .list-item:nth-child(5) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.list-style ul .list-item:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.list-style ul .list-item::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  width: 8px;
  height: 8px;
}

.list-style ul .list-item:first-child:before {
  background-color: #000;
}

.list-style ul .list-item::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 15px;
  background-color: #000;
  width: 1px;
  height: 50px;
}

.list-style ul .list-item:last-child:after {
  width: 0px;
  height: 0px;
}

.list-style ul .list-item span {
  margin-right: 20px;
}

.tab-list {
  overflow: hidden;
  margin: 50px 0;
}

.tab-list #tab ul {
  float: left;
}

@media only screen and (max-width: 480px) {
  .tab-list #tab ul {
    padding: 0;
  }
}

.tab-list #tab ul a {
  color: #000;
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 480px) {
  .tab-labels ul {
    width: 100%;
  }
}

.tab-labels ul li {
  height: 50px;
  font-size: 14px;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .tab-labels ul li {
    width: 33%;
    float: left;
  }
}

.tab-labels ul li::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 15px;
  background-color: #000;
  width: 1px;
  height: 50px;
}

@media only screen and (max-width: 480px) {
  .tab-labels ul li::after {
    width: 100%;
    height: 1px;
    left: 34px;
    top: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .tab-labels ul li::after {
    width: 95px;
  }
}

.tab-labels ul li:last-child:after {
  width: 0px;
  height: 0px;
}

.tab-labels ul label {
  position: relative;
}

.tab-labels ul label::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  border-radius: 50%;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1;
  width: 8px;
  height: 8px;
}

@media only screen and (max-width: 480px) {
  .tab-labels ul label::before {
    left: 42%;
    top: 25px;
  }
}

.tab-labels ul label span {
  margin-right: 20px;
}

.tab-list {
  overflow: hidden;
  margin: 50px 0;
}

.tab-list #tab ul {
  float: left;
}

.tab-list #tab ul a {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
}

#toggle-tab1:checked ~ .tab-labels label[for="toggle-tab1"],
#toggle-tab2:checked ~ .tab-labels label[for="toggle-tab2"],
#toggle-tab3:checked ~ .tab-labels label[for="toggle-tab3"],
#toggle-tab4:checked ~ .tab-labels label[for="toggle-tab4"],
#toggle-tab5:checked ~ .tab-labels label[for="toggle-tab5"] {
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#toggle-tab1:checked ~ .tab-labels label[for="toggle-tab1"]::before,
#toggle-tab2:checked ~ .tab-labels label[for="toggle-tab2"]::before,
#toggle-tab3:checked ~ .tab-labels label[for="toggle-tab3"]::before,
#toggle-tab4:checked ~ .tab-labels label[for="toggle-tab4"]::before,
#toggle-tab5:checked ~ .tab-labels label[for="toggle-tab5"]::before {
  background-color: #000;
}

#toggle-tab1:checked ~ .tab-contents #tab1,
#toggle-tab2:checked ~ .tab-contents #tab2,
#toggle-tab3:checked ~ .tab-contents #tab3,
#toggle-tab4:checked ~ .tab-contents #tab4,
#toggle-tab5:checked ~ .tab-contents #tab5 {
  display: block;
}

.tab-contents {
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .tab-contents {
    width: 100%;
  }
}

.tab-contents .tab-content {
  width: calc(100% - 75px);
  display: none;
  padding: 12px;
  float: left;
  margin-left: 50px;
}

@media only screen and (max-width: 768px) {
  .tab-contents .tab-content {
    width: calc(100% - 30px);
    margin-left: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .tab-contents .tab-content {
    margin-left: 0px;
    padding: 0px;
    width: 100%;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.fadeInUp {
  -webkit-animation: fadeInUp 0.8s;
          animation: fadeInUp 0.8s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.zoomIn {
  -webkit-animation: zoomIn 0.8s;
          animation: zoomIn 0.8s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.active {
  display: block;
}

.block:nth-child(1) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.block:nth-child(2) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.block:nth-child(3) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes buttonAnimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonAnimate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.card {
  width: calc(100%/2 - 15px);
  height: 250px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  float: left;
  margin: 0 0 15px 15px;
  -webkit-box-shadow: 2px 2px 18px #ebebeb;
          box-shadow: 2px 2px 18px #ebebeb;
}

@media only screen and (max-width: 1300px) {
  .card {
    width: calc(100%/2 - 15px);
    height: 155px;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    height: 111px;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 100%;
    margin: 15px 0;
    height: 155px;
  }
}

.card.expanded .dialog {
  display: block;
  -webkit-animation: fadeIn 0.2s forwards;
  animation: fadeIn 0.5s forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .card.expanded .dialog {
    padding: 15px;
  }
}

.card:hover button {
  -webkit-transform: scale(50);
          transform: scale(50);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  -webkit-animation: buttonAnimate .8s forwards;
          animation: buttonAnimate .8s forwards;
}

.card:hover p {
  color: #6b6b6b;
}

.card .wrapper {
  background-color: #9c9c9c;
  width: calc(100% - 44px);
  height: 100%;
  -webkit-transition: all 2s;
  transition: all 2s;
}

@media only screen and (max-width: 768px) {
  .card .wrapper {
    width: calc(100% - 35px);
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .card .wrapper {
    width: 90%;
  }
}

.card .wrapper::before {
  content: "";
  position: absolute;
  left: 10px;
  top: -11px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 3;
}

.card .wrapper::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -11px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 3;
}

.card .pic img {
  width: 100%;
}

.card .pic .title {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 800;
  font-size: 20px;
  padding: 7px 8px;
  color: #fff;
  text-shadow: 2px 2px 12px #444;
}

.card .dotted {
  border-left: 5px dotted #fff;
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
}

@media only screen and (max-width: 480px) {
  .card .dotted {
    border-left: 4px dotted #fff;
  }
}

.card button {
  width: 22px;
  height: 22px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 0;
  margin: 11px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: none;
          animation: none;
}

@media only screen and (max-width: 768px) {
  .card button {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .card button {
    width: 15px;
    height: 15px;
  }
}

.card p {
  position: absolute;
  right: 3px;
  top: 8px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #9c9c9c;
  font-size: 12px;
  letter-spacing: 1px;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .card p {
    letter-spacing: 1;
    right: 0;
  }
}

.card .toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.card .dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: none;
  opacity: 0;
}

.card .dialog .cover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(36, 37, 42, 0.8);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.card .dialog .closeBtn {
  position: absolute;
  z-index: 1001;
  right: 70px;
  top: 48px;
  padding: 5px;
  font-size: 20px;
  color: #6b6b6b;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card .dialog .card-content {
  position: relative;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.card .dialog .card-content a {
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #6b6b6b;
  font-weight: 700;
  letter-spacing: 1;
  font-size: 12px;
  padding-bottom: 30px;
  display: block;
}

.card .dialog .card-content h2 {
  position: relative;
}

.card .dialog .card-content h2::before {
  content: "";
  position: absolute;
  top: 57px;
  left: calc(50% - 21px);
  width: 42px;
  height: 1px;
  background-color: #000;
}

.card .dialog .card-content span {
  font-size: 12px;
  line-height: 30px;
  display: block;
}

.card .dialog .card-content span:last-of-type {
  padding-bottom: 25px;
  color: #000;
  opacity: 0.5;
}

.card .dialog .card-content .name {
  padding: 30px 0;
  font-weight: 800;
}

.card .dialog .card-content .img-cover {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .card .dialog .card-content .img-cover {
    width: 100%;
    padding: 0px;
  }
}

.card .dialog .card-content .img-cover img {
  width: 100%;
}

.card .dialog .card-content .img-cover.flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
}

.card .dialog .card-content .img-cover.flex-block img {
  width: 32%;
  margin-bottom: 12px;
}

@media only screen and (max-width: 480px) {
  .card .dialog .card-content .img-cover.flex-block img {
    width: 100%;
    height: auto;
  }
}

.block-style {
  line-height: 22px;
  padding: 50px 0 0 0;
}

.block-style:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.block-style:nth-child(3) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.block-style:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.block-style .main-title {
  font-size: 16px;
  font-weight: 600;
  position: relative;
}

.block-style .main-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 49px;
  width: 150px;
  height: 8px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  z-index: -1;
}

.block-style span {
  font-size: 12px;
  letter-spacing: 1px;
  white-space: nowrap;
}

@media only screen and (max-width: 480px) {
  .block-style span {
    white-space: normal;
  }
}

.col-style {
  margin: 0 auto;
  text-align: center;
}

.col-style .block {
  display: inline-block;
  width: 150px;
}

@media only screen and (max-width: 480px) {
  .col-style .block {
    width: 100%;
    margin-bottom: 20px;
  }
}

.col-style .wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  margin: 0 auto;
  text-align: center;
  line-height: 72px;
}

.col-style .svgicon {
  width: 26px;
  height: 26px;
}

.col-style .icon {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 0.95px;
}

.col-style .txt {
  font-size: 14px;
  padding: 10px 0;
  color: #7b7676;
}

.col-style .txt a {
  text-decoration: none;
  color: #7b7676;
}

.end-info {
  text-align: center;
  width: 100%;
  padding: 8px;
  display: block;
  color: #eaeaea;
  background-color: #000;
  font-size: 12px;
  margin-top: 70px;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: rotateX(-10deg) rotateY(0deg) translateZ(var(--center, 50px));
            transform: rotateX(-10deg) rotateY(0deg) translateZ(var(--center, 50px));
  }
  100% {
    -webkit-transform: rotateX(-10deg) rotateY(360deg) translateZ(var(--center, 50px));
            transform: rotateX(-10deg) rotateY(360deg) translateZ(var(--center, 50px));
  }
}

@keyframes move {
  0% {
    -webkit-transform: rotateX(-10deg) rotateY(0deg) translateZ(var(--center, 50px));
            transform: rotateX(-10deg) rotateY(0deg) translateZ(var(--center, 50px));
  }
  100% {
    -webkit-transform: rotateX(-10deg) rotateY(360deg) translateZ(var(--center, 50px));
            transform: rotateX(-10deg) rotateY(360deg) translateZ(var(--center, 50px));
  }
}

.camera {
  width: 200px;
  height: 200px;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-perspective: 500px;
          perspective: 500px;
  float: right;
}

.camera .space {
  position: relative;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: move 25s linear infinite;
          animation: move 25s linear infinite;
}

.camera .space .cube {
  position: absolute;
  width: 100px;
  height: 100px;
}

.camera .space .cube:nth-child(1) {
  border: 1px solid #000;
  -webkit-transform: translateX(-102px) translateY(0px) rotateY(270deg);
          transform: translateX(-102px) translateY(0px) rotateY(270deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.camera .space .cube:nth-child(2) {
  border: 1px solid #000;
  -webkit-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
}

.camera .space .cube:nth-child(3) {
  border: 1px solid #000;
  -webkit-transform: translateX(102px) translateY(0px) rotateY(90deg);
          transform: translateX(102px) translateY(0px) rotateY(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.camera .space .cube:nth-child(4) {
  border: 1px solid #000;
  -webkit-transform: translateX(102px) translateY(0px) translateZ(-102px) rotateY(-180deg);
          transform: translateX(102px) translateY(0px) translateZ(-102px) rotateY(-180deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.camera .space .cube:nth-child(5) {
  border: 1px solid #000;
  -webkit-transform: translateX(0px) translateY(102px) rotateX(270deg);
          transform: translateX(0px) translateY(102px) rotateX(270deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.camera .space .cube:nth-child(6) {
  border: 1px solid #000;
  -webkit-transform: translateX(0px) translateY(-102px) rotateX(90deg);
          transform: translateX(0px) translateY(-102px) rotateX(90deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.camera .space02, .camera .space03 {
  --center: 25px;
  position: relative;
  width: 50px;
  height: 50px;
  left: -11px;
  top: -49px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: move 15s linear infinite;
          animation: move 15s linear infinite;
}

.camera .space02 .cube, .camera .space03 .cube {
  position: absolute;
  width: 50px;
  height: 50px;
}

.camera .space02 .cube:nth-child(1), .camera .space03 .cube:nth-child(1) {
  border: 1px solid #000;
  -webkit-transform: translateX(-52px) translateY(0px) rotateY(270deg);
          transform: translateX(-52px) translateY(0px) rotateY(270deg);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.camera .space02 .cube:nth-child(2), .camera .space03 .cube:nth-child(2) {
  border: 1px solid #000;
  -webkit-transform: translateX(0px) translateY(0px);
          transform: translateX(0px) translateY(0px);
}

.camera .space02 .cube:nth-child(3), .camera .space03 .cube:nth-child(3) {
  border: 1px solid #000;
  -webkit-transform: translateX(52px) translateY(0px) rotateY(90deg);
          transform: translateX(52px) translateY(0px) rotateY(90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.camera .space02 .cube:nth-child(4), .camera .space03 .cube:nth-child(4) {
  border: 1px solid #000;
  -webkit-transform: translateX(52px) translateY(0px) translateZ(-52px) rotateY(-180deg);
          transform: translateX(52px) translateY(0px) translateZ(-52px) rotateY(-180deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.camera .space02 .cube:nth-child(5), .camera .space03 .cube:nth-child(5) {
  border: 1px solid #000;
  -webkit-transform: translateX(0px) translateY(52px) rotateX(270deg);
          transform: translateX(0px) translateY(52px) rotateX(270deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.camera .space02 .cube:nth-child(6), .camera .space03 .cube:nth-child(6) {
  border: 1px solid #000;
  -webkit-transform: translateX(0px) translateY(-52px) rotateX(90deg);
          transform: translateX(0px) translateY(-52px) rotateX(90deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

.camera .space03 {
  position: relative;
  width: 50px;
  height: 50px;
  left: 61px;
  top: 139px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: move 15s linear infinite;
          animation: move 15s linear infinite;
}

.bg-design {
  position: fixed;
  right: 0%;
  bottom: 10%;
  z-index: -1;
}

.bg-design .number {
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 100px;
  text-shadow: 0px 0px 1px #bfbfbf;
  font-size: 150px;
  display: none;
}

.bg-design .number.show {
  display: block;
}

.scrolltotop {
  position: fixed;
  bottom: 85px;
  right: 32px;
  z-index: 9999999;
}

.scrolltotop::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 9px;
  background-color: #000;
  width: 1px;
  height: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.scrolltotop:hover span {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc3a0), to(#ffafbd));
  background-image: linear-gradient(to top, #ffc3a0 0%, #ffafbd 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scrolltotop:hover span::before {
  top: -46px;
}

.scrolltotop:hover span::after {
  top: -46px;
}

.scrolltotop:hover::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: -15px;
}

.scrolltotop span {
  position: relative;
  font-size: 12px;
  font-weight: 600;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  white-space: nowrap;
  color: #000;
  z-index: 99;
}

.scrolltotop span::before {
  content: "";
  position: absolute;
  top: -42px;
  left: 7px;
  background-color: #000;
  width: 1px;
  height: 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.scrolltotop span::after {
  content: "";
  position: absolute;
  top: -42px;
  left: 9px;
  background-color: #000;
  width: 1px;
  height: 11px;
  -webkit-transform: rotate(-24deg);
          transform: rotate(-24deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
/*# sourceMappingURL=style.css.map */